@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nova+Square&family=Playfair+Display&display=swap');


.producto{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 1.875rem;
    flex-direction: row;
    column-gap: 1.875rem ;
}

.descripcion{
    font-family: 'Nova Square';
    width: 31.25rem;
}
.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18.75rem;
    width: 12.5rem;
    overflow: hidden;
}
.descripcion{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.masInfo{
    background-color: red;
    text-align: center;
}